p {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 3px;
    margin: 15px auto;
    text-align: left;
    /* border: solid 1px black; */
    word-break: break-all;
}

.delete {
    text-decoration: line-through
}

.delIcon:hover {
    cursor: pointer;
}