img {
    width: 20px;
    height: 20px;
}

p {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 15px auto;
    text-align: left;
    /* border: solid 1px black; */
    word-break: break-all;
}

p span {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.delete {
    text-decoration: line-through
}

.delIcon:hover {
    cursor: pointer;
}

.index {
    margin-right: 10px;
}